@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Montserrat+Alternates&display=swap');
.navbar-brand{
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
}

body{
    font-family: 'Spline Sans', sans-serif;
    color: #777;
    line-height: 1.7;
}
h2,h3,h4,h5,h6{
    font-weight: 600;
    color: #222;
}
h1{
    font-weight: 600;
    color: #222;
    font-family: 'Montserrat Alternates', sans-serif;

}
a{
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 500;
}
a:hover{
    color: #603ce6; 
}
img{
    min-width: 100%;
}

/* navvar*/
.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.navbar-nav li {
    position: relative;
}
.navbar-nav a {
    text-decoration: none;
    color: black;
    padding: 1px 20px;
}
.navbar-nav li:not(.dropdown):hover a {
    border-bottom: 2px solid #603ce6; 
}
.navbar-nav li:not(.dropdown) a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #603ce6; 
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.navbar-nav li:not(.dropdown):hover a:after {
    width: 100%;
    left: 0;
}
/*btn*/
.btn{

padding: 7px 28px;
margin-right: 10px;
border: 1px solid #ffffff;
color: #ffffff;
background-color: transparent;
border-radius: 5px;
}

.btn-brand{
    color: #fff;
    font-weight: 500;
    border-color: #603ce6; 
    background-color:  #603ce6; 
    border-radius: 5px;
}
.btn-brand:hover{
    border-color: #603ce6; 
    background-color:  #603ce6; 
    color: #fff;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.btn-signup{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-signup:hover{
    border-color: #603ce6; 
    background-color:  #603ce6; 
    color: #fff;
}
#box{
    margin-bottom: 20px;
}




/*slider*/
.slide-1{
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url(../Images/h4.jpg);
}
.slide-2{
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url(../Images/h2.jpg);
}
.slide-3{
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url(../Images/h3.jpg);
}
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-bottom-left-radius: 20% 30px; 
  border-bottom-right-radius: 20% 30px; 
}
.carousel-control-prev,
.carousel-control-next{
    background-color: rgba(0,0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}




/*about section*/


.Heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.Heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.Heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #603ce6;
}
.Heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.abt-container{
    width: 100%;
    margin: 0 auto;
    padding: 10px 90px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-images{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-images img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
font-size: 18px;
line-height: 1.5;
color: #666;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #603ce6;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.3 ease;
}
.about-content .read-mor:hover{
    background-color: #4d27d6;
}


















































/*mobile*/
@media screen and (max-width: 345px){
    .btn-secondary{
       margin-top: 13px;
   }
}
@media screen and (max-width: 768px){
    .Heading{
        padding: 0px 20px;
    }
    .Heading h1{
        font-size: 36px;
    }
    .Heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .abt-container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-images{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-stretch: 16px;
    }
}
