@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Montserrat+Alternates&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
.navbar-brand{
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
}

body{
    font-family: 'Spline Sans', sans-serif;
    color: #777;
    line-height: 1.7;
    overflow-x: hidden;
}
h2,h3,h4,h5,h6{
    font-weight: 600;
    color: #222;
}
h1{
    font-weight: 600;
    color: #222;
    font-family: 'Montserrat Alternates', sans-serif;

}
a{
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 500;
}
a:hover{
    color: #603ce6; 
}
img{
    min-width: 100%;
}

/* navvar*/
.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.navbar-nav li {
    position: relative;
}
.navbar-nav a {
    text-decoration: none;
    color: black;
    padding: 1px 20px;
}
.navbar-nav li:not(.dropdown):hover a {
    border-bottom: 2px solid #603ce6; 
}
.navbar-nav li:not(.dropdown) a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #603ce6; 
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.navbar-nav li:not(.dropdown):hover a:after {
    width: 100%;
    left: 0;
}
/*btn*/
.btn{

padding: 7px 28px;
margin-right: 10px;
border: 1px solid #ffffff;
color: #ffffff;
background-color: transparent;
border-radius: 5px;
}

.btn-brand{
    color: #fff;
    font-weight: 500;
    border-color: #603ce6; 
    background-color:  #603ce6; 
    border-radius: 5px;
}
.btn-brand:hover{
    border-color: #603ce6; 
    background-color:  #603ce6; 
    color: #fff;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.btn-signup{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-signup:hover{
    border-color: #603ce6; 
    background-color:  #603ce6; 
    color: #fff;
}
#box{
    margin-bottom: 20px;
}
.btn-contactsecondary{
    color: #fff;
    font-weight: 500;
    border-color: #603ce6; 
    background-color:  #603ce6; 
    border-radius: 5px;

}
.btn-contactsecondary:hover{
    border-color: #603ce6; 
    background-color:  #603ce6; 
    color: #fff;
}


/*slider*/
.slide-1{
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url(../Images/h4.jpg);
}
.slide-2{
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url(../Images/h2.jpg);
}
.slide-3{
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url(../Images/h3.jpg);
}
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-bottom-left-radius: 20% 30px; 
  border-bottom-right-radius: 20% 30px; 
}
.carousel-control-prev,
.carousel-control-next{
    background-color: rgba(0,0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}




/*about section*/


.Heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.Heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.Heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #603ce6;
}
.Heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.abt-container{
    width: 100%;
    margin: 0 auto;
    padding: 10px 90px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-images{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-images img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
font-size: 18px;
line-height: 1.5;
color: #666;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #603ce6;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.3 ease;
}
.about-content .read-mor:hover{
    background-color: #4d27d6;
}



.theme-text {
    color: #474af0;
  }
  
  .card-img-top {
    height: 200px;
    width: 100%;
  }
  .card {
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
  }
  .card:hover {
    color: white;
  }
  .card:hover h3 {
    color: white;
}
  .card::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0%;
    background: #7274be;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
  }
  .card:hover::before {
    left: 0%;
    color: white;
  }

  

  .container-fluid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.container-fluid h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.container-fluid h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    
}

#FAQ{
    font-family: 'Montserrat Alternates', sans-serif;
    
}
.abt-container{
    margin-top: -50px;
}
.text-center{
    font-family: 'Montserrat Alternates', sans-serif;
}





/*contact*/
.contact-container{
    max-width: 960px;
    margin: auto;
    width: 100%;
margin-bottom:50px;
   justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #fff ;
    border-radius: 0.5rem;
    overflow: hidden;
}
.form-container{
    padding: 20px;
}
.form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
}
.contact-form{
    display: grid;
    row-gap: 1rem;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    outline: none;
    background: #f2f2f2;
    padding: 10px;
    font-size: 0.9rem;
    color: #0a0a0a;
    border-radius: 0.4rem;
}
.contact-form textarea
{
    resize: none;
    height: 200px;
}
.contact-form .send-button{
    border: none;
    outline: none;
    background: #603ce6;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-form .send-button:hover{
    background: #502fc7 ;
    transition: 0.3s all linear;
}
.map iframe{
    width: 100%;
    height: 100%;
}
.custom-shadow {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); /* Customize the shadow properties */
}

.accordion-item h2{
    font-family: 'Montserrat Alternates', sans-serif;
}




/*footer*/
footer{
    background-color: rgb(46, 36, 36);
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 2rem 1rem;
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    color:#f2f2f2f2;
    font-family: poppins;
    padding:0 2rem;
}
#fotlog{
    margin-bottom: 15px;
}

.col .logo{
    width: 100px;
    margin-bottom:25px;
}
.col h3{
    color:rgb(236, 236, 236);
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height:3px;
    width:0px;
    background-color: rgb(187, 183, 184);
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;

}
.col h3:hover::after{
    width:30px
}
.col .social a i{
    color:rgb(189, 185, 186);
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .social a i:hover{
    transform: scale(1.5);
    filter:grayscale(25);
}
.col .links a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}
.col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color:rgb(189, 185, 186);
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color:rgb(189, 185, 186);
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
}
.col .contact-details i{
    margin-right:15px;
}
.footer-bottom {
    text-align: center;
    margin-top: 50px;
}

#btn-colorwhite{
    color: white;
}













/********** Responsive Design ********/
@media(max-width:964px)
{
  .footer-row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
  .contact-container{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 380px) {
    .btn{
       margin-top: 15px;
    }
}

/*mobile*/



@media screen and (max-width: 768px){
    .Heading{
        padding: 0px 20px;
    }
    .Heading h1{
        font-size: 36px;
    }
    .Heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .abt-container{
        padding: 3px;
    }
    .about{
        padding: 30px;
        flex-direction: column;
    }
    .about-images{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-stretch: 16px;
    }
    .contact-box{
		grid-template-columns: 1fr;
	}
	.left iframe{
		padding: 2;
        width: 500px;
	}
    .footer-row{
        flex-direction: column;
      }
      .col{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
      }
      .contact-container{
        grid-template-columns: 1fr;
       gap: 1rem;
       
       
      }
      .map iframe{
        height: 400%;
      }
      .map{
        height: 400px;
      }
      
}
